*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

ul[role='list'], ol[role='list']{
    list-style: none;
}

html:focus-within{
    scroll-behavior: smooth;
}

a:not([class]){
    text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input, button, textarea, select{
    font: inherit;
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%;
    scroll-behavior: smooth;
}

.header{
    background: linear-gradient(180deg, #FFC727 0%, #FF8E1C 100%);
    height: 700px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    flex-direction: column;

}

.header.interno {
  height: 140px !important;
  padding-top: 25px !important;
}


.menu{
    display: flex;
    background: rgba(255, 255, 255, 1);
    width: 725px;
    height: 50px;
    margin: 20px auto;
    border-radius: 8px;
}

.menu ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 2px solid #FF8E1C;
    height: 50px;
    padding: 20px 20px;
    margin: 0;
}

.menu ul li:last-child{
    border-right: none;
}

.menu ul li a:link, .menu ul li a:visited{
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(38, 50, 56, 1);
    font-weight: 600;
}

.chamada{
    margin-top: 70px;
}

.chamada h1{
    font-size: 40px;
    font-weight: 600;
}

.chamada .btn-light{
    font-weight: 600;
    padding: 15px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}