{% extends '../usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Reparos Cadastrados:</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>reparo</th>
            <th>rua</th>
            <th>numero</th>

        </tr>
        {% for reparo in reparos %}
        <tr>
            <td>{{reparo.reparo}}</td>
            <td>{{reparo.rua}}</td>
            <td>{{reparo.numero}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}