{% extends '../usuarios/base.html' %}
{% block conteudo %}
<form action="{% url 'listagem_reparos' %}" method="post">
  {% csrf_token %}
  <div style="text-align:center;" class="container">
    <h1>Cadastro de Reparos</h1>
    <div class="container">
      <div class="row align-items-start">
        <div class="col-6">
          <label for="reparo" class="form-label">Reparo Necessário</label>
          <input type="text" id="reparo" class="form-control" placeholder="Descreva o reparo necessário aqui" name="reparo">
        </div>
        <div class="col-6">
          <label for="rua" class="form-label">Rua</label>
          <input type="text" id="rua" class="form-control" placeholder="Escreva sua rua aqui" name="rua">
        </div>
        <div class="col-6">
          <label for="numero" class="form-label">Número</label>
          <input type="text" id="mumero" class="form-control" placeholder="Escreva o número de sua casa aqui" name="numero">
        </div>
        <div class="col-6">
          <label for="bairro" class="form-label">Bairro</label>
          <input type="text" id="bairro" class="form-control" placeholder="Escreva seu bairro aqui" name="bairro">
        </div>
        <div class="col-6">
          <label for="cidade" class="form-label">Cidade</label>
          <input type="text" id="cidade" class="form-control" placeholder="Escreva sua cidade aqui" name="cidade">
        </div>
        <div class="col-6">
          <label for="estado" class="form-label">Estado</label>
          <input type="text" id="estado" class="form-control" placeholder="Escreva seu estado aqui" name="estado">
        </div>
        <div class="col-6">
          <label for="cep" class="form-label">CEP</label>
          <input type="CEP" id="cep" class="form-control" placeholder="Escreva seu cep aqui" name="cep">
        </div>
        <div><button class="form-control-sm">Enviar</button></div>
     </div>
    </div>
  </div>
  </div>
 </form>   
{% endblock %}